<div class="container">
  <div class="border m4 p4">
    <a class="right" href="https://ryanlabouve.github.io/ember-cli-rangesliderjs">See Project on Github</a>
    <h2>ryanlabouve/ember-cli-rangesliderjs</h2>
    <div class="controls mb4">
      <hr>
      <h3>Demo</h3>
      <p class="mt2 mb0">min</p>
      {{input value=min class="field"}}
      <p class="mt2 mb0">max</p>
      {{input value=max class="field"}}
      <p class="mt2 mb0">value</p>
      {{input value=value class="field"}}
    </div>

    {{rangeslider-js
      min=min
      max=max
      start=value
      slide=(action (mut value))
      slideEnd=(action (mut value))}}

<br><br>

    <pre><code class="html">
\{{rangeslider-js
  min=min
  max=max
  start=value
  slide=(action (mut value))
  slideEnd=(action (mut value))}}
    </code></pre>

    <div>
      <hr>
      <h3>Install Now</h3>
      <pre><code class="bash">
ember install ember-cli-rangesliderjs
      </code></pre>
    </div>
  </div>
</div>
